.testimonials{
    background-color: #EDEDED;
    width: 100%;
    padding: 3% 1%;
    font-family: 'Montserrat', sans-serif;


    .testimonials-title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 70px;


        h1{
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 0.3rem;
        }


        h2{
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center;
        }
    }


    .card_line{
        display: flex;
        gap: 2%;
        padding: 0 10%;
        height: fit-content;
    }
}


@media (max-width: 520px){
  .card_line{
    flex-direction: column;
    width: 100%;
  }  
} 