.button{
    font-family: 'Montserrat', sans-serif;
    background-color: #007BFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
    white-space: nowrap;
}

.button:hover{
    background-color: blue;
    transition: 1s;
}