.plans {
    background-color: #C2DBF4;
    width: 100%;    
    padding: 2% 4%;
    font-family: 'Montserrat', sans-serif;

    .plans_title {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1{
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        h2{
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center;
        }
    }

    .card_line{
        margin: 2rem 1% 0 1%;
        display: flex;
        width: 98%;
        gap: 3%;
        justify-content: center;
        align-items: center;
        min-width: 200px;
    }
}

@media (max-width: 920px) {
    .card_line{
        overflow-x: scroll;
        padding-left: 100px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 860px) {
    .card_line{
        padding-left: 200px;
    }
}

@media (max-width: 760px) {
    .card_line{
        padding-left: 300px;
    }
}

@media (max-width: 630px) {
    .card_line{
        padding-left: 400px;
    }
}

@media(max-width: 520px){
    .card_line{
        padding-left: 0%;
        overflow-x: hidden;
        flex-direction: column;
        gap: 1rem;
    }
}