.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    transition: transform 0.3s;
    font-family: 'Montserrat', sans-serif;

    & .feature-card__icon{
        font-size: 4rem;
        color: #007bff !important;
    }

    & .feature-card__title{
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0.5rem 0;
        text-align: center;
    }

    & .feature-card__description{
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
    }
}

.feature-card:hover{
    transform: translateY(-10px);
}