.about{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-image: url('../../../../assets/Home.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
    width: 100%;
    min-height: 89vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-title{
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-text{
        font-size: 1.2rem;
        line-height: 1.8;
        margin-bottom: 20px;
    }
    
    a{
        text-decoration: none; 
        color: inherit;
    }

    Button:hover{
        background-color: rgba(217, 217, 217, 0.4);
    }
}

@media (max-width: 720px){
    .about{

        .about-title{
            font-size: 2rem;
        }

        .about-text{
            font-size: 1rem;
        }
    }
}

@media (max-width: 430px){
    .about{

        .about-title{
            font-size: 1.7rem;
        }

        .about-text{
            font-size: 0.7rem;
        }
    }
}