.features{
    width: 100%;
    min-height: 80vh;
    font-family: 'Montserrat', sans-serif;
    padding: 3% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .features__title{
        /* margin-top: 30px; */
        
        h1{
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 1rem;
            text-align: center;
        }
        h2{
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center;
        }

    }

    & .features__cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        margin-top: 1rem;
    }

}